body{
    font-family: Arial, sans-serif;
    background:#f8f9fa;
}

.topbar{
    font-size:14px;
}

.navbar-brand{
    font-size:28px;
    font-weight:bold;
}

.hero{
    background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=1600');
    background-size:cover;
    background-position:center;
    min-height:550px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero h1{
    font-size:52px;
    font-weight:700;
}

.hero p{
    font-size:22px;
    margin:20px 0;
}

.btn-warning{
    padding:12px 30px;
    border-radius:30px;
    font-size:18px;
}

.nav-link{
    font-weight:600;
}

.nav-link:hover{
    color:#dc3545 !important;
}
.hero img{
    border-radius:20px;
}

.form-control{
    height:50px;
}

.btn-warning{
    height:50px;
    font-weight:bold;
}

.display-4{
    font-weight:700;
}
.card img{
    height:180px;
    object-fit:cover;
}

.card{
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}
section h2{
    color:#0d6efd;
    font-weight:700;
}

.card{
    overflow:hidden;
}

.card img{
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.08);
}

.bg-primary{
    background:#0d6efd !important;
}

.fa-3x{
    margin-bottom:15px;
}

section p{
    font-size:16px;
}
